
    @@include('./head.html', {
        "title": "- Events",
        "header": "Gumdrop Mountains Resort & Spa"
    })

    @@include('./primary_nav.html')

    @@include('./breadcrumb.html', {
        "one": {
            "link": "index.html",
            "title": "Home",
            "current": ""
        },
        "two": {
            "link": "events.html",
            "title": "Events",
            "current": "current"
        },
        "three": {}
    })

    @@include('./promo_text.html', {
        "header": "Event Center",
        "text": "We have a 4,500 sq. ft. event space that is loaded with tech and built for business and fun.",
        "button": "Book Session",
        "link": "#book"
    })

    @@include('./gallery.html', {
        "title": "Past Events",
        "text": "Our event space is large, new, and uses the latest presentation technology to enable powerful, or fun gatherings. From karaoke to your next business bash, we can do it. "
    })

    @@include('./gallery_slider.html', {
        "style": "light"
    })

    <a id="hours"></a>
    @@include('./room_details.html', {
        "title": "Upcoming Events",
        "bullet": "no-bullet",
        "desc": {
            "one": "9.2.15 - Comic Con Has Beens",
            "two": "10.12.15 - How to launder money",
            "three": "10.21.15 - How to fake Thanksgiving",
            "four": "11.1.15 - Another Motivational Speach",
            "five": "12.2.15 - Timeshares and You",
            "six": "12.7.15 - How to adobt rabid squirrels",
            "seven": "12.8.15 - Dangers in adobting rabid squirrels",
            "eight": "12.24.15 - Christmas Special, Now more Fireworks"
        },
        "style": "dark"
    })

    <a id="book"></a>
    @@include('./navigation.html', {
        "title": "Book Event Space",
        "address1": "19111 W. Absurd Rd.",
        "address2": "Interest, Abs 55555",
        "phone": "(410) 555 - 8888 x3434",
        "style": "light"
    })

    @@include('./promo_feature.html')

    @@include('./footer.html')
