
    @@include('./head.html')

    @@include('./primary_nav.html')

    @@include('./promo_text.html', {
        "header": "Welcome",
        "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni perferendis quas a quod, eveniet provident facere.",
        "button": "Our Specials",
        "link": "#"
    })

    @@include('./gallery.html', {
        "title": "Gallery"
    })

    @@include('./navigation.html')

    @@include('./promo_feature.html')

    @@include('./footer.html')
