
    @@include('./head.html')

    @@include('./primary_nav.html')

    @@include('./room_tile.html', {
        "name": "Small Room",
        "price": "199.98",
        "style": "light",
        "desc": {
            "one": "Queen Bed",
            "two": "Walk in Closet",
            "three": "Walk-out Balcony",
            "four": "Mountain View"
        }
    })

    @@include('./gallery_slider.html')

    @@include('./room_details.html', {
        "title": "Additonal Details",
        "desc": {
            "one": "Queen Bed",
            "two": "Walk in Closet",
            "three": "Walk-out Balcony",
            "four": "Mountain View",
            "five": "Queen Bed",
            "six": "Walk in Closet",
            "seven": "Walk-out Balcony",
            "eight": "Mountain View"
        }
    })

    @@include('./promo_feature.html')

    @@include('./footer.html')
