
    @@include('./head.html', {
        "title": "- Medium Room",
        "header": "Gumdrop Mountains Resort & Spa"
    })

    @@include('./primary_nav.html')

    @@include('./breadcrumb.html', {
        "one": {
            "link": "index.html",
            "title": "Home",
            "current": ""
        },
        "two": {
            "link": "rooms.html",
            "title": "All Rooms",
            "current": ""
        },
        "three": {
            "link": "room-medium.html",
            "title": "Medium Room",
            "current": "current"
        }
    })

    @@include('./room_tile.html', {
        "name": "Medium Room",
        "price": "275.98",
        "style": "light",
        "desc": {
            "one": "King Bed",
            "two": "Walk in Closet",
            "three": "Walk-out Balcony",
            "four": "Mountain View"
        }
    })

    @@include('./gallery_slider.html', {
        "style": "dark"
    })

    @@include('./room_details.html', {
        "title": "Additonal Details",
        "bullet": "",
        "desc": {
            "one": "Pets Allowed",
            "two": "Mountaintop View",
            "three": "No Smoking",
            "four": "Handicap Accessible",
            "five": "Room Service is Available",
            "six": "Pillow Service is Available",
            "seven": "Down Comforter available by Request",
            "eight": "Minibar and Safe in room"
        },
        "style": "light"
    })

    @@include('./promo_feature.html')

    @@include('./footer.html')
