
    @@include('./head.html', {
        "title": "- All Rooms",
        "header": "Gumdrop Mountains Resort & Spa"
    })

    @@include('./primary_nav.html')

    @@include('./promo_text.html', {
        "header": "All Our Great Rooms",
        "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni perferendis quas a quod, eveniet provident facere.",
        "button": "Our Highest Rated",
        "link": "#"
    })

    @@include('./gallery_slider.html')

    @@include('./room_tile.html', {
        "name": "Small Room",
        "price": "199.98",
        "style": "light",
        "desc": {
            "one": "Queen Bed",
            "two": "Walk in Closet",
            "three": "Walk-out Balcony",
            "four": "Mountain View"
        }
    })

    @@include('./room_tile.html', {
        "name": "Medium Room",
        "price": "199.98",
        "style": "dark",
        "desc": {
            "one": "Queen Bed",
            "two": "Walk in Closet",
            "three": "Walk-out Balcony",
            "four": "Mountain View"
        }
    })

    @@include('./room_tile.html', {
        "name": "Large Room",
        "price": "199.98",
        "style": "light",
        "desc": {
            "one": "Queen Bed",
            "two": "Walk in Closet",
            "three": "Walk-out Balcony",
            "four": "Mountain View"
        }
    })

    @@include('./room_tile.html', {
        "name": "Double Room",
        "price": "199.98",
        "style": "dark",
        "desc": {
            "one": "Queen Bed",
            "two": "Walk in Closet",
            "three": "Walk-out Balcony",
            "four": "Mountain View"
        }
    })

    @@include('./room_tile.html', {
        "name": "Executive Room",
        "price": "799.98",
        "style": "light",
        "desc": {
            "one": "Queen Bed",
            "two": "Walk in Closet",
            "three": "Walk-out Balcony",
            "four": "Mountain View"
        }
    })

    @@include('./promo_feature.html')

    @@include('./footer.html')
