<section class="gallery-slider @@style">
    <div class="row">
        <div class="small-12 column">
            <div class="multiple-items">
                <div>
                    <img src="http://dummyimage.com/350x260" alt="A Dummy Image">
                </div>
                <div>
                    <img src="http://dummyimage.com/350x260" alt="A Dummy Image">
                </div>
                <div>
                    <img src="http://dummyimage.com/350x260" alt="A Dummy Image">
                </div>
                <div>
                    <img src="http://dummyimage.com/350x260" alt="A Dummy Image">
                </div>
                <div>
                    <img src="http://dummyimage.com/350x260" alt="A Dummy Image">
                </div>
                <div>
                    <img src="http://dummyimage.com/350x260" alt="A Dummy Image">
                </div>
                <div>
                    <img src="http://dummyimage.com/350x260" alt="A Dummy Image">
                </div>
                <div>
                    <img src="http://dummyimage.com/350x260" alt="A Dummy Image">
                </div>
                <div>
                    <img src="http://dummyimage.com/350x260" alt="A Dummy Image">
                </div>
            </div>
        </div>
    </div>
</section>
