<section class="gallery">
    <div class="row">
        <div class="small-8 columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aliquid doloribus reiciendis corporis quod pariatur, dicta quos perspiciatis fuga voluptatem aspernatur, molestiae sequi dolores cupiditate itaque magnam commodi vitae molestias.</p>
        </div>
        <div class="small-4 columns">
            <h2>@@title</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <img src="http://dummyimage.com/400x300" alt="A Dummy Image">
        </div>
        <div class="small-4 columns">
            <img src="http://dummyimage.com/400x300" alt="A Dummy Image">
        </div>
        <div class="small-4 columns">
            <img src="http://dummyimage.com/400x300" alt="A Dummy Image">
        </div>
    </div>
</section>
