
    <section class="primary-nav">
        <div class="row">
            <div class="small-12 columns">
                <div class="contain-to-grid sticky">
                    <nav class="top-bar" data-topbar role="navigation">
                        <ul class="title-area">
                            <li class="name">
                                <h1><a href="index.html">Gumdrop Mountains</a></h1>
                            </li>
                            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                            <li class="toggle-topbar menu-icon">
                                <a href="#">
                                    <span>Menu</span>
                                </a>
                            </li>
                        </ul>

                        <section class="top-bar-section">
                            <!-- Right Nav Section -->
                            <ul class="right">
                                <li class="has-form">
                                    <div class="row collapse">
                                        <div class="large-8 small-9 columns">
                                            <input type="text" placeholder="Find Happy Place">
                                        </div>
                                        <div class="large-4 small-3 columns">
                                            <a href="#" class="alert button expand">Search</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <!-- Left Nav Section -->
                            <ul class="left">
                                <li class="has-dropdown">
                                    <a href="#">Stay at Resort</a>
                                    <ul class="dropdown">
                                        <li><a href="rooms.html">All Rooms</a></li>
                                        <li><a href="room-small.html">Small Room</a></li>
                                        <li><a href="room-medium.html">Medium Room</a></li>
                                        <li><a href="room-large.html">Large Room</a></li>
                                        <li><a href="room-double.html">Double Room</a></li>
                                        <li><a href="room-executive.html">Executive Room</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Relax at Spa</a>
                                    <ul class="dropdown">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Hours</a></li>
                                        <li><a href="#">Book Session</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Events</a></li>
                            </ul>
                        </section>
                    </nav>
                </div>
            </div>
        </div>
    </section>
