<section class="promoText">
    <div class="row">
        <div class="small-7 columns">
            <h2>@@header</h2>
            <p>@@text</p>
            <a href="@@link" role="button" class="button">@@button</a>
        </div>
        <div class="small-5 columns">
            <div class="small-slider">
                <div>
                    <img src="http://dummyimage.com/390x200" alt="A Dummy Image">
                </div>
                <div>
                    <img src="http://dummyimage.com/390x200" alt="A Dummy Image">
                </div>
                <div>
                    <img src="http://dummyimage.com/390x200" alt="A Dummy Image">
                </div>
            </div>
        </div>
    </div>
</section>
