<section class="room-tile @@style">
    <div class="row">
        <div class="small-5 columns">
            <img class='feature' src="http://dummyimage.com/420x315" alt="A Dummy Image">
        </div>
        <div class="small-7 columns">
            <div class="row">
                <div class="small-8 columns">
                    <h2>@@name</h2>
                </div>
                <div class="small-4 columns">
                    <div class="row small-collapse" >
                        <div class="small-8 columns currency-symbol">
                            <i class="fa fa-usd fa-3x"></i>
                        </div>
                        <div class="small-4 columns money">
                            @@price<br>
                            <span class="legal">per night&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row small-collapse">
                <div class="small-12 columns">
                    <a href="book.html" class="button tiny pull-right">Book Room</a>
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <ul class="room-details-short">
                        <li>@@desc.one</li>
                        <li>@@desc.two</li>
                        <li>@@desc.three</li>
                        <li>@@desc.four</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="small-3 columns"><img src="http://dummyimage.com/200x120" alt="gallery image"></div>
                <div class="small-3 columns"><img src="http://dummyimage.com/200x120" alt="gallery image"></div>
                <div class="small-3 columns"><img src="http://dummyimage.com/200x120" alt="gallery image"></div>
                <div class="small-3 columns"><img src="http://dummyimage.com/200x120" alt="gallery image"></div>
            </div>
        </div>
    </div>
</section>
