<section class="room-details @@style">
    <div class="row">
        <div class="small-12 column">
            <h3>@@title</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <ul class="details @@bullet">
                <li>@@desc.one</li>
                <li>@@desc.two</li>
                <li>@@desc.three</li>
                <li>@@desc.four</li>
            </ul>
        </div>
        <div class="small-6 columns">
            <ul class="details @@bullet">
                <li>@@desc.five</li>
                <li>@@desc.six</li>
                <li>@@desc.seven</li>
                <li>@@desc.eight</li>
            </ul>
        </div>
    </div>
</section>
