@charset 'UTF-8';


@import "../../node_modules/font-awesome/scss/font-awesome";

@import "settings";
@import "../../node_modules/foundation-sites/scss/foundation/components/_grid";
@import "../../node_modules/foundation-sites/scss/foundation/components/_accordion";
@import "../../node_modules/foundation-sites/scss/foundation/components/_alert-boxes";
@import "../../node_modules/foundation-sites/scss/foundation/components/_block-grid";
@import "../../node_modules/foundation-sites/scss/foundation/components/_breadcrumbs";
@import "../../node_modules/foundation-sites/scss/foundation/components/_button-groups";
@import "../../node_modules/foundation-sites/scss/foundation/components/_buttons";
@import "../../node_modules/foundation-sites/scss/foundation/components/_clearing";
@import "../../node_modules/foundation-sites/scss/foundation/components/_dropdown";
@import "../../node_modules/foundation-sites/scss/foundation/components/_dropdown-buttons";
@import "../../node_modules/foundation-sites/scss/foundation/components/_flex-video";
@import "../../node_modules/foundation-sites/scss/foundation/components/_forms";
@import "../../node_modules/foundation-sites/scss/foundation/components/_icon-bar";
@import "../../node_modules/foundation-sites/scss/foundation/components/_inline-lists";
@import "../../node_modules/foundation-sites/scss/foundation/components/_joyride";
@import "../../node_modules/foundation-sites/scss/foundation/components/_keystrokes";
@import "../../node_modules/foundation-sites/scss/foundation/components/_labels";
@import "../../node_modules/foundation-sites/scss/foundation/components/_magellan";
@import "../../node_modules/foundation-sites/scss/foundation/components/_orbit";
@import "../../node_modules/foundation-sites/scss/foundation/components/_pagination";
@import "../../node_modules/foundation-sites/scss/foundation/components/_panels";
@import "../../node_modules/foundation-sites/scss/foundation/components/_pricing-tables";
@import "../../node_modules/foundation-sites/scss/foundation/components/_progress-bars";
@import "../../node_modules/foundation-sites/scss/foundation/components/_range-slider";
@import "../../node_modules/foundation-sites/scss/foundation/components/_reveal";
@import "../../node_modules/foundation-sites/scss/foundation/components/_side-nav";
@import "../../node_modules/foundation-sites/scss/foundation/components/_split-buttons";
@import "../../node_modules/foundation-sites/scss/foundation/components/_sub-nav";
@import "../../node_modules/foundation-sites/scss/foundation/components/_switches";
@import "../../node_modules/foundation-sites/scss/foundation/components/_tables";
@import "../../node_modules/foundation-sites/scss/foundation/components/_tabs";
@import "../../node_modules/foundation-sites/scss/foundation/components/_thumbs";
@import "../../node_modules/foundation-sites/scss/foundation/components/_tooltips";
@import "../../node_modules/foundation-sites/scss/foundation/components/_top-bar";
@import "../../node_modules/foundation-sites/scss/foundation/components/_type";
@import "../../node_modules/foundation-sites/scss/foundation/components/_offcanvas";
@import "../../node_modules/foundation-sites/scss/foundation/components/_visibility";

.masthead {
    width: 100%;
    position: relative;

    img {
        width: 100%;
    }

    h1 {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 8px 20px;
        width: 450px;
        left: 50%;
        top: 30%;
        margin-left: -225px;
        text-align: center;

    }
}
.promoText {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px 0;
}

.gallery, .gallery-slider {
    margin-top: 20px;
    background-color: #eee;
    padding: 40px 0;

    h2 {
        text-align: right;
    }
}
.primary-nav {
    background-color: $oil;

    .top-bar-section ul li > a {
        font-weight: 600;
    }
}

.promo-feature {
    margin-top: 20px;
    background-color: #eee;
    padding: 40px 0;

    .promo {

        position: relative;

        img {
            width: 100%;
        }

        a:hover {
            .button {
                background-color: $button-bg-hover;
                border-color: $button-bg-hover;
            }
        }

        .button {
            position: absolute;
            width: 250px;
            bottom: 10px;
            left: 50%;
            margin-left: -125px;
        }
    }
}

footer {
    background-color: $oil;
    padding: 40px 0;
    line-height: 20px;
    color: #fff;

    .copyright {
        text-align: right;
        font-style: italic;
        font-size: 12px;
    }

    .footer-links a {
        color: #fff;
        font-size: 14px;
    }
}
.navigation {
    padding: 40px 0;

    .button {
        font-size: 16px;
        vertical-align: center;
        margin: 16px auto;
        width: 300px;
        display: block;

        &.center {
            line-height: 30px;
            padding-bottom: 10px
        }

        .fa {
            padding-right: 20px;
        }
    }
}

.small-slider {
    width: 390px;
}

.slick-slider, .multiple-items {
    margin: 20px 0;
    position: relative;
}


.slick-next {
    @extend .fa;
    @extend .fa-chevron-right;
}

.slick-prev {
    @extend .fa;
    @extend .fa-chevron-left;

}

.slick-list {
    margin: 0 20px;
}

.slick-arrow {
    position: absolute;
}
.slick-prev, .slick-next {
    top: 50%;
    margin-top: -8px;
}
.slick-next {
    right: 0;
}

.multiple-items {
    img {
        padding: 0 10px;
    }

    .slick-dots {
        right: 305px;
    }
}

.slick-dots {
    right: 0px;
    bottom: -46px;
    position: absolute;
    list-style-type: none;
    display: inline-block;
    width: 220px;

    li {
        display: inline-block;
    }

    button {
        content: '';
        padding: 0;
        height: 12px;
        width: 12px;
        margin: 4px;
        border-radius: 6px;
        text-indent: -9999px;
        background-color: $secondary-color;
    }
}

.slick-active {
    button {
        background-color: $primary-color;
    }
}
